<a href="https://colab.research.google.com/github/rroja94/utn/blob/main/Copia_de_Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Carga de datos
import pandas as pd

# URL del archivo CSV en GitHub
url = 'https://raw.githubusercontent.com/alelentini/pye-datos/main/m_1001.csv'

# Lee el archivo CSV y carga los datos en un DataFrame
df = pd.read_csv(url)

print(df)

                         F   H   X_1 X_2  X_3
0       26FEB2011:00:00:00  18   s/d  33  s/d
1       26FEB2011:00:00:00  23   s/d  67  s/d
2       27FEB2011:00:00:00   7   s/d  35  s/d
3       27FEB2011:00:00:00  11   s/d  15  s/d
4       27FEB2011:00:00:00  13   s/d  14  s/d
...                    ...  ..   ...  ..  ...
116700  06OCT2014:00:00:00  22  0.89  23   15
116701  01NOV2016:00:00:00   9  0.66  23   33
116702  19SEP2014:00:00:00   7  0.46  18   31
116703  05DEC2017:00:00:00  17  0.56  13   22
116704  24DEC2010:00:00:00  22   s/d  46  NaN

[116705 rows x 5 columns]

In [ ]:
# Tamaño de la matriz de datos original
num_filas = df.shape[0]
num_columnas = df.shape[1]

print("Número de filas:", num_filas)
print("Número de columnas:", num_columnas)

Número de filas: 116705
Número de columnas: 5

In [ ]:
# Depuración de datos
columna_3 = 'X_1'
df[columna_3] = pd.to_numeric(df[columna_3], errors='coerce')
df = df.dropna(subset=[columna_3])

columna_4 = 'X_2'
df[columna_4] = pd.to_numeric(df[columna_4], errors='coerce')
df = df.dropna(subset=[columna_4])

columna_5 = 'X_3'
df[columna_5] = pd.to_numeric(df[columna_5], errors='coerce')
df = df.dropna(subset=[columna_5])

print(df)

                         F   H   X_1   X_2   X_3
1721    25DEC2011:00:00:00  14  0.20   4.0  17.0
1722    25DEC2011:00:00:00  15  0.20   8.0  17.0
1723    26DEC2011:00:00:00   2  0.36   8.0  14.0
1725    27NOV2011:00:00:00  15  0.46  15.0  92.0
1726    28NOV2011:00:00:00  12  0.63  16.0  54.0
...                    ...  ..   ...   ...   ...
116694  19JAN2014:00:00:00  23  0.33  14.0  33.0
116700  06OCT2014:00:00:00  22  0.89  23.0  15.0
116701  01NOV2016:00:00:00   9  0.66  23.0  33.0
116702  19SEP2014:00:00:00   7  0.46  18.0  31.0
116703  05DEC2017:00:00:00  17  0.56  13.0  22.0

[71650 rows x 5 columns]